.appBar {
    position: fixed;
    left: 0;
    height: 4em;
    display: flex;
    flex-direction: row;
    background-color:transparent;
    justify-content: flex-end;
    align-items: center;
    border: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    z-index: 3;
    width: 100dvw;
}
.appBarButton {
    text-align: center;
    align-items: center;
    background-color: transparent;
    text-decoration: none;
    height: 100%;
    color: #fff;
    min-width:10vw;
    width:50px;
    padding: 0 2rem;
    margin: 0;
    
}
.selected {
    border-bottom: 4px  solid rgb(255, 255, 255); 
    height: calc(4em - 2px);

}
.appBarButton:not(.selected) {
    border-bottom: 2px  solid rgb(255, 255, 255); 

}
@media (max-width : 600px){
    .appBar {
        min-width:25vw;
        padding: 0;
        justify-content: space-around;
    }
}